#Binary data can be safely ignored
*.dat 

#Compiled code will be ignored as well
*.o
*.run
*.mod

#Old code is put in Old folder and will be ignored
Old/*

#tmp files to be ignored
*.swp

#Ignores output folder, which is typically HUGE (can be several GB)
output/*

#Ignores pdfs
*.pdf

#I use Visual Studio to debug. We exclude machine specific files from monitoring.
#as well as builds
**/.vs/*
vs_project_files/**/x64/*

#Ignore lib folder, which contains thirdy-party libraries
src/lib/*

#Ignore mkl files
*mkl_dfti.f90
